USE [WeiranSociety]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Permissionss] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__Admins__719FE4E81D7F0DCA] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminTaskLog]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTaskLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[IssuedId] [int] NOT NULL,
	[AdminID] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__AdminTas__5E5499A870C8A61B] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[CartStatus] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](2) NULL,
	[UpdatedAt] [datetime2](2) NULL,
 CONSTRAINT [PK__Cart__51BCD79733EAD822] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[CartDetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[CartID] [bigint] NOT NULL,
	[CourseID] [bigint] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[AddedAt] [datetime2](2) NULL,
 CONSTRAINT [PK__CartDeta__01B6A6D4701D3FB9] PRIMARY KEY CLUSTERED 
(
	[CartDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__Category__19093A2B136411AB] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[CouponTypeID] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Totalssued] [int] NOT NULL,
	[UseCount] [int] NOT NULL,
	[CouponStatus] [nvarchar](50) NOT NULL,
	[ExpiryDate] [datetime2](0) NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponType]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponType](
	[CouponTypeID] [int] IDENTITY(1,1) NOT NULL,
	[CouponName] [nvarchar](50) NOT NULL,
	[CouponDescription] [nvarchar](50) NOT NULL,
	[DiscountType] [decimal](10, 2) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinAmount] [decimal](10, 2) NOT NULL,
	[ApplicableScope] [nvarchar](50) NOT NULL,
	[StartDate] [datetime2](0) NULL,
	[EndDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryID] [bigint] NOT NULL,
	[TeacherID] [bigint] NOT NULL,
	[CourseTitle] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CourseDescription] [nvarchar](max) NULL,
	[CourseStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[CoverUrl] [nvarchar](255) NULL,
 CONSTRAINT [PK__Course__C92D718762B36E6D] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseMedia]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMedia](
	[CourseMediaID] [bigint] IDENTITY(1,1) NOT NULL,
	[SectionID] [bigint] NOT NULL,
	[MediaUrl] [nvarchar](500) NOT NULL,
	[MediaTitle] [nvarchar](100) NOT NULL,
	[MediaOrderIndex] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__CourseMe__5EB42E46014BBF81] PRIMARY KEY CLUSTERED 
(
	[CourseMediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseReview]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseReview](
	[ReviewID] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[CourseRating] [decimal](3, 2) NULL,
	[Comment] [nvarchar](500) NULL,
	[ReviewStatus] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__CourseRe__74BC79AE5638F00F] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSection]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSection](
	[SectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseID] [bigint] NOT NULL,
	[SectionContent] [nvarchar](max) NULL,
	[SectionTitle] [nvarchar](100) NULL,
	[SectionOrderIndex] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__CourseSe__80EF089246CC008A] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerIssue]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerIssue](
	[IssuedID] [int] IDENTITY(1,1) NOT NULL,
	[UsersID] [int] NOT NULL,
	[Messagess] [nvarchar](50) NOT NULL,
	[AICategory] [nvarchar](50) NULL,
	[NeddsAdmin] [bit] NULL,
	[AssignedAdminID] [int] NOT NULL,
	[Statuss] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__Customer__96CDAAD5EC6560FA] PRIMARY KEY CLUSTERED 
(
	[IssuedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentID] [bigint] NOT NULL,
	[CourseID] [bigint] NOT NULL,
	[Progress] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[EnrollmentStatus] [nvarchar](20) NULL,
 CONSTRAINT [PK__Enrollme__7F6877FB2C8DDC02] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interaction]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interaction](
	[Interaction] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[EnrollmentID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[MessageType] [nvarchar](50) NOT NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageURL] [nvarchar](max) NULL,
	[Statuss] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Interact__D2BCCE90616BA0C3] PRIMARY KEY CLUSTERED 
(
	[Interaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[CourseID] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](6) NOT NULL,
	[UserOrderID] [bigint] NULL,
 CONSTRAINT [PK__OrderDet__D3B9D30C07BCAC16] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[Gateway] [nvarchar](50) NOT NULL,
	[TransactionNo] [nvarchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaidAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__Payment__9B556A58EDD5C283] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotoURL]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoURL](
	[PhotoURLID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[UploadedAt] [datetime2](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoURLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
	[Descriptions] [nvarchar](100) NULL,
 CONSTRAINT [PK__Roles__8AFACE3ADA12F29D] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfile]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfile](
	[StudentID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[Bio] [nvarchar](500) NULL,
	[LearningGoal] [nvarchar](200) NULL,
 CONSTRAINT [PK__StudentP__32C52A792A28B946] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherProfile]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherProfile](
	[TeacherID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Bio] [nvarchar](200) NULL,
	[Expertise] [nvarchar](max) NULL,
	[TeacherRating] [decimal](3, 2) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[TeacherStatus] [nvarchar](20) NULL,
	[CertificateUrl] [nvarchar](max) NULL,
	[ratingCount] [int] NULL,
 CONSTRAINT [PK__TeacherP__EDF25944DE6ABCAB] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCoupon]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCoupon](
	[UserCouponID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CouponID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[IsUsed] [bit] NULL,
	[UseDate] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserCouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOrder]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[NetAmount] [decimal](10, 2) NOT NULL,
	[OrderStatus] [nvarchar](20) NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[MerchantTradeNo] [nvarchar](20) NULL,
	[TradeNo] [nvarchar](20) NULL,
	[PaymentDate] [datetime2](0) NULL,
	[PaymentType] [nvarchar](20) NULL,
	[RtnCode] [int] NULL,
	[RtnMsg] [nvarchar](200) NULL,
	[TradeAmt] [decimal](10, 2) NULL,
	[CheckMacValue] [nvarchar](max) NULL,
 CONSTRAINT [PK__UserOrde__C3905BAF64CEE0C6] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[RoleID] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK__UserRole__3D978A55A4E68994] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/11/4 下午 11:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[PwdHash] [nvarchar](256) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[UserName] [varchar](50) NULL,
	[RealName] [nvarchar](50) NULL,
	[UserStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[Resettoken] [nvarchar](100) NULL,
	[Resettokenexpiry] [datetime2](0) NULL,
	[Avatar] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__1788CCAC0866BB79] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [UserID], [Permissionss], [CreatedAt], [UpdatedAt]) VALUES (1900, 107, N'ALL', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[Admins] ([AdminID], [UserID], [Permissionss], [CreatedAt], [UpdatedAt]) VALUES (1901, 108, N'ALL', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminTaskLog] ON 

INSERT [dbo].[AdminTaskLog] ([LogID], [IssuedId], [AdminID], [ActionType], [Response], [CreatedAt], [UpdatedAt]) VALUES (2000, 800, 1900, N'ApproveTeacher', N'已核准', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[AdminTaskLog] ([LogID], [IssuedId], [AdminID], [ActionType], [Response], [CreatedAt], [UpdatedAt]) VALUES (2001, 801, 1900, N'CloseOrder', N'已處理退款', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AdminTaskLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [CartStatus], [CreatedAt], [UpdatedAt]) VALUES (1000, 100, 1, CAST(N'2025-10-22T03:42:21.9700000' AS DateTime2), CAST(N'2025-10-22T03:42:21.9700000' AS DateTime2))
INSERT [dbo].[Cart] ([CartID], [UserID], [CartStatus], [CreatedAt], [UpdatedAt]) VALUES (1001, 105, 1, CAST(N'2025-10-22T03:42:21.9700000' AS DateTime2), CAST(N'2025-10-22T03:42:21.9700000' AS DateTime2))
INSERT [dbo].[Cart] ([CartID], [UserID], [CartStatus], [CreatedAt], [UpdatedAt]) VALUES (1002, 42, 1, CAST(N'2025-10-30T14:54:29.1100000' AS DateTime2), CAST(N'2025-10-30T14:54:29.1100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartDetail] ON 

INSERT [dbo].[CartDetail] ([CartDetailID], [CartID], [CourseID], [Price], [AddedAt]) VALUES (1100, 1000, 600, CAST(1999.00 AS Decimal(10, 2)), CAST(N'2025-10-22T03:42:21.9800000' AS DateTime2))
INSERT [dbo].[CartDetail] ([CartDetailID], [CartID], [CourseID], [Price], [AddedAt]) VALUES (1101, 1000, 605, CAST(899.00 AS Decimal(10, 2)), CAST(N'2025-10-22T03:42:21.9800000' AS DateTime2))
INSERT [dbo].[CartDetail] ([CartDetailID], [CartID], [CourseID], [Price], [AddedAt]) VALUES (1102, 1001, 603, CAST(2499.00 AS Decimal(10, 2)), CAST(N'2025-10-22T03:42:21.9800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CartDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CreatedAt], [UpdatedAt]) VALUES (500, N'程式開發', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CreatedAt], [UpdatedAt]) VALUES (501, N'設計', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CreatedAt], [UpdatedAt]) VALUES (502, N'健身與健康', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupon] ON 

INSERT [dbo].[Coupon] ([CouponID], [CouponTypeID], [Code], [Totalssued], [UseCount], [CouponStatus], [ExpiryDate], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'ANNI79', 200, 16, N'Active', CAST(N'2025-12-31T23:59:59.0000000' AS DateTime2), CAST(N'2025-10-22T10:00:00.0000000' AS DateTime2), CAST(N'2025-11-01T14:30:00.0000000' AS DateTime2))
INSERT [dbo].[Coupon] ([CouponID], [CouponTypeID], [Code], [Totalssued], [UseCount], [CouponStatus], [ExpiryDate], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'VIP89', 150, 43, N'Active', CAST(N'2025-12-31T23:59:59.0000000' AS DateTime2), CAST(N'2025-10-22T10:05:00.0000000' AS DateTime2), CAST(N'2025-11-02T09:15:00.0000000' AS DateTime2))
INSERT [dbo].[Coupon] ([CouponID], [CouponTypeID], [Code], [Totalssued], [UseCount], [CouponStatus], [ExpiryDate], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'SAVE150', 300, 87, N'Active', CAST(N'2025-11-30T23:59:59.0000000' AS DateTime2), CAST(N'2025-10-22T10:10:00.0000000' AS DateTime2), CAST(N'2025-11-03T11:20:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Coupon] OFF
GO
SET IDENTITY_INSERT [dbo].[CouponType] ON 

INSERT [dbo].[CouponType] ([CouponTypeID], [CouponName], [CouponDescription], [DiscountType], [DiscountValue], [MinAmount], [ApplicableScope], [StartDate], [EndDate]) VALUES (1500, N'滿額折抵', N'滿 2000 折 200', CAST(1.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), N'ALL', CAST(N'2025-09-30T08:00:00.0000000' AS DateTime2), CAST(N'2025-12-30T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[CouponType] ([CouponTypeID], [CouponName], [CouponDescription], [DiscountType], [DiscountValue], [MinAmount], [ApplicableScope], [StartDate], [EndDate]) VALUES (1501, N'新會員 9 折', N'首次訂單享 10% 折扣', CAST(2.00 AS Decimal(10, 2)), CAST(0.10 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'ALL', CAST(N'2025-10-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CouponType] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CategoryID], [TeacherID], [CourseTitle], [Price], [CourseDescription], [CourseStatus], [CreatedAt], [UpdatedAt], [CoverUrl]) VALUES (603, 500, 400, N'資料庫設計實務（MSSQL）', CAST(2499.00 AS Decimal(10, 2)), N'ERD、索引與效能調校', N'ACTIVE', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-30T14:25:00.0000000' AS DateTime2), N'/file/1761805499585_c7ef9c05-7e3a-4cce-9fc1-c36a5aeceff8.png')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseMedia] ON 

INSERT [dbo].[CourseMedia] ([CourseMediaID], [SectionID], [MediaUrl], [MediaTitle], [MediaOrderIndex], [CreatedAt], [UpdatedAt]) VALUES (1, 716, N'https://www.youtube.com/watch?v=fbq3VdnUz14&list=OLAK5uy_noLDsR9-PYntEplyWLCur-STRyRUXTCPM&index=4', N'Test', 1, CAST(N'2025-11-02T00:55:03.2600000' AS DateTime2), NULL)
INSERT [dbo].[CourseMedia] ([CourseMediaID], [SectionID], [MediaUrl], [MediaTitle], [MediaOrderIndex], [CreatedAt], [UpdatedAt]) VALUES (2, 717, N'https://www.youtube.com/watch?v=fbq3VdnUz14&list=OLAK5uy_noLDsR9-PYntEplyWLCur-STRyRUXTCPM&index=4', N'Test', 1, CAST(N'2025-11-02T01:17:18.8766667' AS DateTime2), NULL)
INSERT [dbo].[CourseMedia] ([CourseMediaID], [SectionID], [MediaUrl], [MediaTitle], [MediaOrderIndex], [CreatedAt], [UpdatedAt]) VALUES (3, 718, N'https://www.youtube.com/watch?v=fbq3VdnUz14&list=OLAK5uy_noLDsR9-PYntEplyWLCur-STRyRUXTCPM&index=4', N'1', 1, CAST(N'2025-11-02T03:25:02.8166667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CourseMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseReview] ON 

INSERT [dbo].[CourseReview] ([ReviewID], [CourseID], [UserID], [CourseRating], [Comment], [ReviewStatus], [CreatedAt], [UpdatedAt]) VALUES (900, 600, 100, CAST(5.00 AS Decimal(3, 2)), N'講解清楚，實作多，很實用', N'1', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[CourseReview] ([ReviewID], [CourseID], [UserID], [CourseRating], [Comment], [ReviewStatus], [CreatedAt], [UpdatedAt]) VALUES (901, 601, 100, CAST(4.00 AS Decimal(3, 2)), N'實戰導向，案例豐富', N'1', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[CourseReview] ([ReviewID], [CourseID], [UserID], [CourseRating], [Comment], [ReviewStatus], [CreatedAt], [UpdatedAt]) VALUES (902, 602, 104, CAST(5.00 AS Decimal(3, 2)), N'教練講解非常專業', N'1', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CourseReview] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseSection] ON 

INSERT [dbo].[CourseSection] ([SectionID], [CourseID], [SectionContent], [SectionTitle], [SectionOrderIndex], [CreatedAt], [UpdatedAt]) VALUES (702, 601, N'建立 Spring Boot 專案', N'專案初始化', 1, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[CourseSection] ([SectionID], [CourseID], [SectionContent], [SectionTitle], [SectionOrderIndex], [CreatedAt], [UpdatedAt]) VALUES (703, 601, N'設計 REST API', N'RESTful 設計', 2, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[CourseSection] ([SectionID], [CourseID], [SectionContent], [SectionTitle], [SectionOrderIndex], [CreatedAt], [UpdatedAt]) VALUES (714, 623, NULL, NULL, 1, CAST(N'2025-11-01T16:28:12.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CourseSection] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [CourseID], [Progress], [CreatedAt], [UpdatedAt], [EnrollmentStatus]) VALUES (800, 300, 600, CAST(25.00 AS Decimal(5, 2)), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL)
INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [CourseID], [Progress], [CreatedAt], [UpdatedAt], [EnrollmentStatus]) VALUES (801, 300, 601, CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL)
INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [CourseID], [Progress], [CreatedAt], [UpdatedAt], [EnrollmentStatus]) VALUES (802, 301, 603, CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[Interaction] ON 

INSERT [dbo].[Interaction] ([Interaction], [StudentID], [EnrollmentID], [TeacherID], [MessageType], [MessageContent], [MessageURL], [Statuss], [CreatedAt], [UpdatedAt]) VALUES (2100, 300, 800, 400, N'TEXT', N'老師好，我卡在第 2 章，請問要如何練習？', NULL, N'Open', CAST(N'2025-10-22T03:42:21.9938441' AS DateTime2), CAST(N'2025-10-22T03:42:21.9938441' AS DateTime2))
INSERT [dbo].[Interaction] ([Interaction], [StudentID], [EnrollmentID], [TeacherID], [MessageType], [MessageContent], [MessageURL], [Statuss], [CreatedAt], [UpdatedAt]) VALUES (2101, 301, 802, 400, N'TEXT', N'可以提供練習範例嗎？', NULL, N'Open', CAST(N'2025-10-22T03:42:21.9938441' AS DateTime2), CAST(N'2025-10-22T03:42:21.9938441' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Interaction] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [CourseID], [Quantity], [UnitPrice], [CreatedAt], [UserOrderID]) VALUES (1302, 1201, 600, 1, CAST(1999.00 AS Decimal(10, 2)), CAST(N'2025-10-30T14:19:46.5085410' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Gateway], [TransactionNo], [Amount], [PaymentStatus], [PaidAt], [CreatedAt], [UpdatedAt]) VALUES (1400, 1200, N'STRIPE', N'TXN202510210001', CAST(2898.00 AS Decimal(10, 2)), N'Success', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Gateway], [TransactionNo], [Amount], [PaymentStatus], [PaidAt], [CreatedAt], [UpdatedAt]) VALUES (1401, 1201, N'LINEPAY', N'TXN202510210002', CAST(1999.00 AS Decimal(10, 2)), N'Pending', NULL, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PhotoURL] ON 

INSERT [dbo].[PhotoURL] ([PhotoURLID], [TeacherID], [ImageURL], [UploadedAt]) VALUES (1800, 400, N'https://example.com/photos/teacher101_1.jpg', CAST(N'2025-10-22T03:42:21.9900000' AS DateTime2))
INSERT [dbo].[PhotoURL] ([PhotoURLID], [TeacherID], [ImageURL], [UploadedAt]) VALUES (1801, 401, N'https://example.com/photos/teacher104_1.jpg', CAST(N'2025-10-22T03:42:21.9900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PhotoURL] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Descriptions]) VALUES (1, N'STUDENT', N'學生')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Descriptions]) VALUES (2, N'TEACHER', N'老師')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Descriptions]) VALUES (3, N'ADMIN', N'管理員')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentProfile] ON 

INSERT [dbo].[StudentProfile] ([StudentID], [UserID], [CreatedAt], [UpdatedAt], [Bio], [LearningGoal]) VALUES (300, 100, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[StudentProfile] ([StudentID], [UserID], [CreatedAt], [UpdatedAt], [Bio], [LearningGoal]) VALUES (301, 102, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[StudentProfile] ([StudentID], [UserID], [CreatedAt], [UpdatedAt], [Bio], [LearningGoal]) VALUES (302, 103, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[StudentProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherProfile] ON 

INSERT [dbo].[TeacherProfile] ([TeacherID], [UserID], [Bio], [Expertise], [TeacherRating], [CreatedAt], [UpdatedAt], [TeacherStatus], [CertificateUrl], [ratingCount]) VALUES (400, 101, N'資深 Java 與 Spring 教師，10 年教學經驗', N'Java;Spring Boot;REST', CAST(4.85 AS Decimal(3, 2)), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-11-03T23:28:04.0000000' AS DateTime2), N'ACTIVE', NULL, NULL)
INSERT [dbo].[TeacherProfile] ([TeacherID], [UserID], [Bio], [Expertise], [TeacherRating], [CreatedAt], [UpdatedAt], [TeacherStatus], [CertificateUrl], [ratingCount]) VALUES (401, 104, N'健身教練，專長體能訓練與營養', N'Fitness;Boxing;Strength', CAST(4.60 AS Decimal(3, 2)), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), N'ACTIVE', NULL, NULL)
INSERT [dbo].[TeacherProfile] ([TeacherID], [UserID], [Bio], [Expertise], [TeacherRating], [CreatedAt], [UpdatedAt], [TeacherStatus], [CertificateUrl], [ratingCount]) VALUES (402, 42, N'牛逼', N'資料庫設計11111', CAST(4.57 AS Decimal(3, 2)), CAST(N'2025-11-01T17:44:04.0000000' AS DateTime2), CAST(N'2025-11-03T08:40:41.0000000' AS DateTime2), N'REJECTED', NULL, 14)
SET IDENTITY_INSERT [dbo].[TeacherProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCoupon] ON 

INSERT [dbo].[UserCoupon] ([UserCouponID], [UserID], [CouponID], [OrderID], [IsUsed], [UseDate], [CreatedAt], [UpdatedAt]) VALUES (1, 42, 4, NULL, 0, NULL, CAST(N'2025-10-28T09:30:00.0000000' AS DateTime2), CAST(N'2025-10-28T09:30:00.0000000' AS DateTime2))
INSERT [dbo].[UserCoupon] ([UserCouponID], [UserID], [CouponID], [OrderID], [IsUsed], [UseDate], [CreatedAt], [UpdatedAt]) VALUES (2, 42, 5, 1200, 1, CAST(N'2025-10-30T15:20:00.0000000' AS DateTime2), CAST(N'2025-10-25T14:00:00.0000000' AS DateTime2), CAST(N'2025-10-30T15:20:00.0000000' AS DateTime2))
INSERT [dbo].[UserCoupon] ([UserCouponID], [UserID], [CouponID], [OrderID], [IsUsed], [UseDate], [CreatedAt], [UpdatedAt]) VALUES (3, 42, 2, NULL, 0, NULL, CAST(N'2025-11-04T10:29:19.0000000' AS DateTime2), CAST(N'2025-11-04T10:29:19.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserCoupon] OFF
GO
SET IDENTITY_INSERT [dbo].[UserOrder] ON 

INSERT [dbo].[UserOrder] ([OrderID], [UserID], [TotalAmount], [DiscountAmount], [NetAmount], [OrderStatus], [PaymentMethod], [CreatedAt], [UpdatedAt], [MerchantTradeNo], [TradeNo], [PaymentDate], [PaymentType], [RtnCode], [RtnMsg], [TradeAmt], [CheckMacValue]) VALUES (1201, 102, CAST(1999.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1999.00 AS Decimal(10, 2)), N'Pending', N'ATM', CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserOrder] ([OrderID], [UserID], [TotalAmount], [DiscountAmount], [NetAmount], [OrderStatus], [PaymentMethod], [CreatedAt], [UpdatedAt], [MerchantTradeNo], [TradeNo], [PaymentDate], [PaymentType], [RtnCode], [RtnMsg], [TradeAmt], [CheckMacValue]) VALUES (1202, 42, CAST(1799.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1799.00 AS Decimal(10, 2)), N'Pending', N'ECPay', CAST(N'2025-10-30T15:19:44.0000000' AS DateTime2), CAST(N'2025-10-30T15:19:44.0000000' AS DateTime2), N'17618087844346945', NULL, NULL, NULL, NULL, NULL, CAST(1799.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[UserOrder] ([OrderID], [UserID], [TotalAmount], [DiscountAmount], [NetAmount], [OrderStatus], [PaymentMethod], [CreatedAt], [UpdatedAt], [MerchantTradeNo], [TradeNo], [PaymentDate], [PaymentType], [RtnCode], [RtnMsg], [TradeAmt], [CheckMacValue]) VALUES (1203, 42, CAST(4298.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(4298.00 AS Decimal(10, 2)), N'Pending', N'ECPay', CAST(N'2025-10-30T16:48:20.0000000' AS DateTime2), CAST(N'2025-10-30T16:48:20.0000000' AS DateTime2), N'17618141001995104', NULL, NULL, NULL, NULL, NULL, CAST(4298.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[UserOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID], [CreatedAt]) VALUES (200, 100, 1, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID], [CreatedAt]) VALUES (201, 101, 2, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID], [CreatedAt]) VALUES (202, 102, 1, CAST(N'2025-10-22T03:42:22.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Account], [PwdHash], [Email], [Phone], [UserName], [RealName], [UserStatus], [CreatedAt], [UpdatedAt], [Resettoken], [Resettokenexpiry], [Avatar]) VALUES (42, N'Alvin0987654321', N'$2a$10$atCSdFPrymwY6iKFl3zPbeWOO/0qiEBAlqzcDGa6zDyWzRxxE2w8G', N'alvin930420@gmail.com', N'0906503276', N'超級阿辰111', N'林祐辰', N'ACTIVE', CAST(N'2025-10-21T05:45:16.0000000' AS DateTime2), CAST(N'2025-10-21T05:45:16.0000000' AS DateTime2), NULL, NULL, N'/uploads/avatars/1762268298800_46f25920-e4ad-4898-b482-3455c031f37b.png')
INSERT [dbo].[Users] ([UserID], [Account], [PwdHash], [Email], [Phone], [UserName], [RealName], [UserStatus], [CreatedAt], [UpdatedAt], [Resettoken], [Resettokenexpiry], [Avatar]) VALUES (101, N'maya', N'$2a$10$placeholderhash2', N'maya@example.com', N'0911222333', N'Maya', N'陳美雅', N'ACTIVE', CAST(N'2025-10-22T03:46:02.0000000' AS DateTime2), CAST(N'2025-10-22T03:46:02.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Account], [PwdHash], [Email], [Phone], [UserName], [RealName], [UserStatus], [CreatedAt], [UpdatedAt], [Resettoken], [Resettokenexpiry], [Avatar]) VALUES (102, N'leo', N'$2a$10$placeholderhash3', N'leo@example.com', N'0922333444', N'Leo', N'王立昂', N'ACTIVE', CAST(N'2025-10-22T03:46:02.0000000' AS DateTime2), CAST(N'2025-10-22T03:46:02.0000000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E00CD26055]    Script Date: 2025/11/4 下午 11:32:13 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UQ__Category__8517B2E00CD26055] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TeacherP__1788CCADDA9C681B]    Script Date: 2025/11/4 下午 11:32:13 ******/
ALTER TABLE [dbo].[TeacherProfile] ADD  CONSTRAINT [UQ__TeacherP__1788CCADDA9C681B] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B0C3AC46C16A0A0A]    Script Date: 2025/11/4 下午 11:32:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__B0C3AC46C16A0A0A] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_account]    Script Date: 2025/11/4 下午 11:32:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_user_account] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_email]    Script Date: 2025/11/4 下午 11:32:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_user_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_phone]    Script Date: 2025/11/4 下午 11:32:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_user_phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  CONSTRAINT [DF__Admins__CreatedA__571DF1D5]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  CONSTRAINT [DF__Admins__UpdatedA__5812160E]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AdminTaskLog] ADD  CONSTRAINT [DF__AdminTask__Creat__00200768]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminTaskLog] ADD  CONSTRAINT [DF__AdminTask__Updat__01142BA1]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF__Cart__CartStatus__6B24EA82]  DEFAULT ((1)) FOR [CartStatus]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF__Cart__CreatedAt__6C190EBB]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF__Cart__UpdatedAt__6D0D32F4]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CartDetail] ADD  CONSTRAINT [DF__CartDetai__Added__6E01572D]  DEFAULT (sysdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Category__Create__59063A47]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Category__Update__59FA5E80]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupon] ADD  DEFAULT (sysutcdatetime()) FOR [ExpiryDate]
GO
ALTER TABLE [dbo].[Coupon] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupon] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__CourseSt__5DCAEF64]  DEFAULT ('Active') FOR [CourseStatus]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__CreatedA__5EBF139D]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF__Course__UpdatedA__5FB337D6]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CourseMedia] ADD  CONSTRAINT [DF__CourseMed__Creat__787EE5A0]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CourseReview] ADD  CONSTRAINT [DF__CourseRev__Revie__797309D9]  DEFAULT ((1)) FOR [ReviewStatus]
GO
ALTER TABLE [dbo].[CourseReview] ADD  CONSTRAINT [DF__CourseRev__Creat__7A672E12]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CourseReview] ADD  CONSTRAINT [DF__CourseRev__Updat__7B5B524B]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CourseSection] ADD  CONSTRAINT [DF__CourseSec__Creat__60A75C0F]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CourseSection] ADD  CONSTRAINT [DF__CourseSec__Updat__619B8048]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CustomerIssue] ADD  CONSTRAINT [DF__CustomerI__Nedds__7A672E12]  DEFAULT ((0)) FOR [NeddsAdmin]
GO
ALTER TABLE [dbo].[CustomerIssue] ADD  CONSTRAINT [DF__CustomerI__Statu__7B5B524B]  DEFAULT ('Open') FOR [Statuss]
GO
ALTER TABLE [dbo].[CustomerIssue] ADD  CONSTRAINT [DF__CustomerI__Creat__7C4F7684]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerIssue] ADD  CONSTRAINT [DF__CustomerI__Updat__7D439ABD]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF__Enrollmen__Creat__6383C8BA]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF__Enrollmen__Updat__6477ECF3]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF_EnrollmentStatus]  DEFAULT ('ONGOING') FOR [EnrollmentStatus]
GO
ALTER TABLE [dbo].[Interaction] ADD  CONSTRAINT [DF__Interacti__Creat__3B40CD36]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Interaction] ADD  CONSTRAINT [DF__Interacti__Updat__3C34F16F]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF__OrderDeta__Creat__03F0984C]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF__Payment__Payment__04E4BC85]  DEFAULT ('Paid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF__Payment__PaidAt__05D8E0BE]  DEFAULT (sysutcdatetime()) FOR [PaidAt]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF__Payment__Created__06CD04F7]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF__Payment__Updated__07C12930]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PhotoURL] ADD  DEFAULT (sysdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[StudentProfile] ADD  CONSTRAINT [DF__StudentPr__Creat__693CA210]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudentProfile] ADD  CONSTRAINT [DF__StudentPr__Updat__6A30C649]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TeacherProfile] ADD  CONSTRAINT [DF__TeacherPr__Ratin__6B24EA82]  DEFAULT ((0)) FOR [TeacherRating]
GO
ALTER TABLE [dbo].[TeacherProfile] ADD  CONSTRAINT [DF__TeacherPr__Creat__6C190EBB]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TeacherProfile] ADD  CONSTRAINT [DF__TeacherPr__Updat__6D0D32F4]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TeacherProfile] ADD  DEFAULT ((0)) FOR [ratingCount]
GO
ALTER TABLE [dbo].[UserCoupon] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[UserCoupon] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserCoupon] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserOrder] ADD  CONSTRAINT [DF__UserOrder__Disco__70DDC3D8]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[UserOrder] ADD  CONSTRAINT [DF__UserOrder__Order__71D1E811]  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[UserOrder] ADD  CONSTRAINT [DF__UserOrder__Creat__72C60C4A]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserOrder] ADD  CONSTRAINT [DF__UserOrder__Updat__73BA3083]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF__UserRole__Create__74AE54BC]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Status__75A278F5]  DEFAULT ('Active') FOR [UserStatus]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__76969D2E]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__UpdatedAt__778AC167]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [CK_Enrollment_Status] CHECK  (([EnrollmentStatus]='CANCELLED' OR [EnrollmentStatus]='COMPLETED' OR [EnrollmentStatus]='ONGOING' OR [EnrollmentStatus]='PENDING'))
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [CK_Enrollment_Status]
GO
